* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 80%;
    margin: auto;
}

body {
    background-color: #daf0cd;
}

a:link {
    color: #2b4730
}

a:visited {
    color: #73a875;
}

a:hover {
    color: #73a875;
}

nav {
    z-index: 1;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    height: 20%;
    background-color: #2b4730;
    text-align: center;
    margin: 0;
}

nav h1 {
    font-family: 'Unbounded', cursive;
    text-align: center;
    color: #daf0cd;
    font-size: 2em;
    line-height: 1.5em;
    text-transform: uppercase;
}

nav h2 {
    line-height: 1.5em;
    font-size: 1em;
    font-family: 'Unbounded', cursive;
    color: #daf0cd;
}

#nav2 {
    position: sticky;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    height: 20%;
    background-color: #73a875;
    text-align: center;
    margin: 0;
}

#nav2 a {
    text-decoration: none;
    font-family: 'Unbounded', cursive;
    padding-right: 1em;
    text-align: center;
    color: #2b4730;
    line-height: 1.5em;
}

#copy {
    display: inline;
    margin: auto;
    width: 70%;
}

#copy p, #copy ul, #copy h4 {
    color: #2b4730;
    font-family: 'Unbounded', cursive;
    font-size: 0.9em;
    list-style-type: none;
    padding: 0.5%
}

#copy img {
    display: block;
    margin: auto;
    width: 60%;
}

.column {
    padding: 2%;
    width: 45%;
    float: left;
}

img {
    padding-bottom: 3%;
    overflow: auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}

.flex-container2 {
    padding-top: 3%;
    padding-bottom: 3%;
    flex-direction:0 row;
    margin: auto;
}

footer {
    position: absolute;
    width: 80%;
    background-image: url("images/greengradient2.png");
    background-position: center;
    background-repeat: no-repeat;
    color: #daf0cd;
    font-family: 'Unbounded', cursive;
    font-size: 0.8em;
    text-align: center;
}