body {
    background-color: #daf0cd;
}

a:link {
    color: #2b4730
}

a:visited {
    color: #73a875;
}

a:hover {
    color: #73a875;
}

nav {
    padding-top: 20px;
    width: 100%;
    height: 150px;
    background-color: #2b4730;
    text-align: center;
    margin: 0;
}

nav h1 {
    font-family: 'Unbounded', cursive;
    text-align: center;
    color: #daf0cd;
    font-size: 2em;
    line-height: 1.5em;
    text-transform: uppercase;
}

nav h2 {
    line-height: 0.5em;
    font-size: 1em;
    font-family: 'Unbounded', cursive;
    color: #daf0cd;
}

#nav2 {
    position: sticky;
    top: 0;
    padding-top: 15px;
    width: 100%;
    height: 40px;
    background-color: #73a875;
    text-align: center;
    margin: 0;
}

#nav2 a {
    text-decoration: none;
    font-family: 'Unbounded', cursive;
    padding-right: 1em;
    text-align: center;
    color: #2b4730;
    line-height: 1.5em;
}

#copy {
    margin: auto;
    width: 70%;
    padding: 10px;
    background-color: #daf0cd;
}

#copy p, #copy ul, #copy h4 {
    color: #2b4730;
    font-family: 'Unbounded', cursive;
    font-size: 0.9em;
    list-style-type: circle;
}

#copy img {
    display: block;
    margin: auto;
    width: 60%;
}

footer {
    background-image: url("images/greengradient2.png");
    background-position: center;
    background-repeat: no-repeat;
    color: #daf0cd;
    font-family: 'Unbounded', cursive;
    font-size: 0.8em;
    text-align: center;
}